HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# --- Java / Spring
/target/
/*.log
/.idea/
/.project
/.classpath
/.settings/

# --- Angular (ajusta la ruta si cambia)
proyecto/web/proyecto-app-front/node_modules/
proyecto/web/proyecto-app-front/dist/
proyecto/web/pro
/proyecto/proyecto/web/proyecto-app-front/node_modules
